<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= [@page_title, Sugar.config.forum_name].compact.join(' - ') %></title>
  <%= stylesheet_link_tag "application" %>
  <%= icon_tags %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= yield %>

  <%= javascript_include_tag "application" %>

  <%# External embeds %>
  <% if @posts && @posts.any? %>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="//platform.instagram.com/en_US/embeds.js" charset="utf-8"></script>
  <% end %>

  <%# Google Maps API %>
  <% if @google_maps_api %>
    <script src="//maps.google.com/maps/api/js?sensor=false"></script>
  <% end %>

  <%# Google Analytics %>
  <% if Sugar.config.google_analytics %>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= Sugar.config.google_analytics %>']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</body>
</html>
